:root {
    --primary-color: #871e17;
    --secondary-color: #E7BC15;
    --accent1-color: #d2e3ea;
    --accent2-color: #1e387a;
    --border-color: #000;
    --h1-font-color: #b0293e;
    --heading-font: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, sans-serif;
    --body-font: Roboto, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
}

header img {
    width: 120px;
    display: grid;
    justify-self: center;
    align-self: center;
}

header nav a {
    border: 2px solid black;
    width: 150px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    color: var(--primary-color);
    background-color: #E7BC15;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    flex: 2;
    text-align: center;
}

.socialmedia {
    flex: 1;
    text-decoration: none;
    gap: 10px;
    justify-content: center;
}

.hero h1 {
    font-size: 4em;
    top: 20px;
    padding: 16px;
    width: 100%;
    text-align: center;
    /*color: var(--h1-font-color);*/
    color: var(--secondary-color);
    position: absolute;
    font-family: "Bonfire";
}

h1 {
    font-size: 3em;
    padding: 30px;
    text-align: center;
    color: var(--primary-color);
    font-family: "Bonfire";
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.address h2 {
    font-family: var(--heading-font);
    font-size: 1em;
    text-align: center;
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;

}

.hero {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    grid-column: 1/2;
    grid-row: 1/4;
}

.hero-article {
    background: radial-gradient(#eee, var(--accent1-color));
    border: 1px solid var(--border-color);
    padding: 0.65rem;
    opacity: 0.9;
    justify-self: center;
    align-self: center;
    position: absolute;
    margin: 100px;
}

.hero-article img {
    float: right;
    width: 125px;
}

main {
    margin: 0 auto;
}

.history {
    display: grid;
    grid-template-columns: 40% auto 40%;
}

figcaption {
    margin-top: 5px;
    justify-self: center;
    font-size: 18px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;

}

.main-container h2 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.history-text {
    grid-column: span 2;
}

.main-container figure {
    justify-self: center;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    grid-gap: 30px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.form-item {
    display: grid;
    align-items: center;
    margin: 0.5rem 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent2-color);
    color: #f8f9fa;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--h1-font-color);
    color: #f8f9fa;
}

table {
    margin-left: auto;
    margin-right: auto;

}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

.no-outline th,
.no-outline td {
    border: none;
}

table a {
    text-decoration: none;
}

table .button-box {
    justify-self: center;
    position: relative;
    margin: 15px;
}

.double-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    grid-gap: 30px;
    text-align: center;
}

.double-container h2 {
    grid-column: 1/3;
    font-size: 2em;
    padding-top: 50px;
    text-align: center;
    color: var(--primary-color);
    font-family: "Bonfire";
}

.double-container p {
    margin: 0px;
    padding: 0px;
}

.triple-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    grid-gap: 30px;
    margin-top: 40px;
    text-align: center;
}

.triple-container p {
    grid-column: 1/4;
}

.triple-container h2 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.hover-img {
    transition: transform 0.5s ease-in-out;
}

.hover-img:hover {
    transform: scale(1.1);
}

.column1 {
    grid-template-columns: 1fr 3fr;
}

fieldset {
    border: none;
}

.button-box {
    justify-self: center;
    position: absolute;
    margin-top: 150px;
}

.button-box .book {
    background-color: #E7BC15;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 15px;
}

.button-box .book:hover {
    background-color: var(--h1-font-color);
    color: #f8f9fa;
}

.subscribe-banner {
    background-color: var(--primary-color);
    margin: 20px 0;
    padding: 30px 0;
}

.subscribe {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 30px;
    justify-self: center;
}

.subscribe img {
    grid-column: 1/3;
    grid-row: 1/4;
}

.subscribe form {
    background-color: #E7BC15;
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 0px 20px;
}

.subscribe form p {
    text-align: center;
}