:root {
    --background-color: darkblue;
    --border: 1px solid black;
    --body-text-color: black;
    --header-text-color: white;
    --margin: 1rem;
    --padding: 1rem;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
    padding: .5rem;
}

main {
    max-width: 640px;
}

aside {
    width: 300px;
    margin: 10px 0;
    position: relative;
}

aside img {
    width: 100%;
    height: auto;
    display: block;        
}

aside h2 {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    color: black;
    text-shadow: white;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}